<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISvcPais" />
                <binding name="BasicHttpBinding_ISvcTipoDocumento" />
                <binding name="BasicHttpBinding_ISvcPasajero" />
                <binding name="BasicHttpBinding_ISvcCiudad" />
                <binding name="BasicHttpBinding_ISvcMaleta" />
                <binding name="BasicHttpBinding_ISvcViaje" />
                <binding name="BasicHttpBinding_ISvcServicioAdicional" />
                <binding name="BasicHttpBinding_ISvcServicioAdicionalXMaleta" />
                <binding name="BasicHttpBinding_ISvcTipoServicio" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/AgenciaServices/SvcPais.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISvcPais"
                contract="AgenciaServiceReference.ISvcPais" name="BasicHttpBinding_ISvcPais" />
            <endpoint address="http://localhost/AgenciaServices/SvcTipoDocumento.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISvcTipoDocumento"
                contract="TipoDocumentoServiceReference.ISvcTipoDocumento"
                name="BasicHttpBinding_ISvcTipoDocumento" />
            <endpoint address="http://localhost/AgenciaServices/SvcPasajero.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISvcPasajero"
                contract="PasajeroServiceReference.ISvcPasajero" name="BasicHttpBinding_ISvcPasajero" />
            <endpoint address="http://localhost/AgenciaServices/SvcCiudad.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISvcCiudad"
                contract="CiudadServiceReference.ISvcCiudad" name="BasicHttpBinding_ISvcCiudad" />
            <endpoint address="http://localhost/AgenciaServices/SvcMaleta.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISvcMaleta"
                contract="MaletaServiceReference.ISvcMaleta" name="BasicHttpBinding_ISvcMaleta" />
            <endpoint address="http://localhost/AgenciaServices/SvcViaje.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISvcViaje"
                contract="ViajeServiceReference.ISvcViaje" name="BasicHttpBinding_ISvcViaje" />
            <endpoint address="http://localhost/AgenciaServices/SvcServicioAdicional.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISvcServicioAdicional"
                contract="ServicioAdicionalServiceReference.ISvcServicioAdicional"
                name="BasicHttpBinding_ISvcServicioAdicional" />
            <endpoint address="http://localhost/AgenciaServices/SvcServicioAdicionalXMaleta.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISvcServicioAdicionalXMaleta"
                contract="ServicioAdicionalXMaletaServiceReference.ISvcServicioAdicionalXMaleta"
                name="BasicHttpBinding_ISvcServicioAdicionalXMaleta" />
            <endpoint address="http://localhost/AgenciaServices/SvcTipoServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISvcTipoServicio"
                contract="TipoServicioServiceReference.ISvcTipoServicio" name="BasicHttpBinding_ISvcTipoServicio" />
        </client>
    </system.serviceModel>
</configuration>