<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISvcPais" />
                <binding name="BasicHttpBinding_ISvcTipoDocumento" />
                <binding name="BasicHttpBinding_ISvcPasajero" />
                <binding name="BasicHttpBinding_ISvcCiudad" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50588/SvcPais.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISvcPais" contract="AgenciaServiceReference.ISvcPais"
                name="BasicHttpBinding_ISvcPais" />
            <endpoint address="http://localhost:50588/SvcTipoDocumento.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISvcTipoDocumento"
                contract="TipoDocumentoServiceReference.ISvcTipoDocumento"
                name="BasicHttpBinding_ISvcTipoDocumento" />
            <endpoint address="http://localhost:50588/SvcPasajero.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISvcPasajero" contract="PasajeroServiceReference.ISvcPasajero"
                name="BasicHttpBinding_ISvcPasajero" />
            <endpoint address="http://localhost:50588/SvcCiudad.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISvcCiudad" contract="CiudadServiceReference.ISvcCiudad"
                name="BasicHttpBinding_ISvcCiudad" />
        </client>
    </system.serviceModel>
</configuration>